<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDzS-gkWvSoe84HJK-lU9UHbmqvaFKP5Ao</string>
	<key>GCM_SENDER_ID</key>
	<string>436285060607</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.groupf</string>
	<key>PROJECT_ID</key>
	<string>groupf-23f5a</string>
	<key>STORAGE_BUCKET</key>
	<string>groupf-23f5a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:436285060607:ios:f5bb85dc938e843322e3ca</string>
</dict>
</plist>